@import "../../style.scss";

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop {
        height: 100vh;
    }
    .container {
        border-radius: 25px;
        overflow: hidden;
        width: 90%;
        box-shadow: 8px 8px 50px -34px rgba(66, 68, 90, 1);
        @include desktop {
            display: flex;
            width: 60%;
        }
        .left {
            flex: 1;
            min-height: 26rem;
            background: linear-gradient((0deg, rgba(219, 89, 42, 0.3) 0%, rgba(219, 89, 42, 0.7) 100%)), url("/assets/pexels-aline-viana-prado-3491940.jpg") center;
            background-size: cover;
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: rgb(255, 255, 255);
            h1 {
                font-size: 3rem;
                margin-bottom: 0;
            }
            h2 {
                text-align: center;
                margin-top: 0;
            }
            span {
                color: rgb(0, 0, 0);
            }
            button {
                background-color: rgb(255, 255, 255);
                color: rgb(219, 89, 42);
                width: 50%;
            }
        }
        .right {
            flex: 1;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                div {
                    display: flex;
                    flex-direction: column;
                }
                input {
                    height: 2.4rem;
                }
            }
        }
    }
}