@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,800;1,300&display=swap');

$themes: (
    default: (
            bg: rgb(255, 255, 255),
            mainBg: rgb(240, 240, 240),
            fontCol: rgb(0, 0, 0),
            secondaryFontCol: rgb(160, 160, 160),
            border: rgb(220, 220, 220),
    ),
    dark: (
            bg: rgb(13, 17, 23),
            mainBg: rgb(32, 33, 36),
            fontCol: rgb(255, 255, 255),
            secondaryFontCol: rgb(201, 209, 217),
            border: rgb(54, 59, 66),
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map, 
                    (
                        $key: $value
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

p {
    font-weight: 300;
    font-size: 1.1rem;
}

button {
    position: relative;
    background: rgb(219, 89, 42);
    border: none;
    border-radius: 25px;
    padding: 1rem;
    color: rgb(255,255,255);
    cursor: pointer;
}

label {
    font-weight: 300;
}

input {
    @include themify($themes) {
        color: themed("fontCol");
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
        border-bottom: 1px solid;
        border-color: themed("border");
        &[type="date"] {    
            font-size: 1rem;
            color: themed("secondaryFontCol");
            border-bottom: 1px solid;    
        }
        &::placeholder{
            font-weight: 300;
            font-family: 'Rubik', sans-serif;
            color: themed("secondaryFontCol");
        }
    }
}

.main-container {
    @include themify($themes) {
        display: flex;
        background-color: themed("mainBg");
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}